body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  padding-top: 80px
}

.card .card-body {
  overflow-y: scroll !important;
  height: 150px !important;
}

.border-btm {
  border-bottom: 1px solid #ccc !important;
}

/* unvisited link */
a:link {
  color: red;
  text-decoration: none !important;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}